
 .main-header {
  position:fixed;
  background: rgb(250, 207, 155);
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  width: 100%;
  top: 0;
  left:0;
  z-index: 10;
 }

 .headcontainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   z-index: 10;
 }

/*-----Pokemon Image Button-----*/


button{
    width: 370px;
    height: 150px;
    outline: none;
    border: none;
    color: #fff;
    background: url();
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#pbutton{
  margin-left: -10px;
  cursor: url("pokenoteCUR.png"), auto;
 }
button:before{
  content:'';
  position: absolute;
  left:8px;
  top: 1px;
  z-index: -1;
  background: linear-gradient(90deg, #1c4b27, #448a95, #e2e32b, #961a45, #994025, #994025, #4a677d);
  background-size: 400%;
  filter: blur(1px);
  height: calc(100% + 3px);
  width: calc(95% + 3px);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.1s ease-in-out;
  animation: glowbutton 10s linear infinite;
  cursor: url(pokenoteCUR.png), auto;
 }

button:hover:before{
   opacity: 1;
 }

button:active{
    color:black;
 }
 
button:after{
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb#111;
  left: 0;
  top: 0;
  border-radius: 10px;
 }

button:active:after{
    background: transparent;
 }

@keyframes glowbutton{
  0%{
      background-position: 0 0;
  }
  50%{
      background-position: 400% 0;
  }
  100%{
      background-position: 0 0;
  }
 }

 /*-------pokeball---------*/

 .pokeball{
  margin-left: 60px;
}
 .hover-rotate {
  overflow: hidden;
  margin: 8px;
  min-width: 240px;
  max-width: 320px;
  width: 100%;
}

.hover-rotate img {
  transition: all .5s;
  box-sizing: border-box;
  max-width: 100%;
  height: 153.4;
  width: 153.4;
}

.hover-rotate:hover img {
  transform: rotate(360deg);
}

 .center {
  height: 166.66px;
  width: 366.66px;
  image-orientation: center;
  } 

.fields{
  height: 60px;
  width:220px;
  display: inline-block;
  flex-direction: column;
}
  /*-----search bar-------*/
.searchbar {
  width: 100%;
  height: 21px;
  outline: none;
  border: none;
}
.form {
  width: 100%;
  height: 50%;
}

  /*-----sorting menu-----*/

 .sortmenu {
  width: 100%;
  height: 21px;
  outline: none;
  border: none;
  color: #fff;
  background: url();
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
 .dropbtn {
  width: 100%;
  background-color: bisque;
  color: rgb(51, 49, 47);
  padding: 2px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(248, 206, 156);
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  min-width: 200px;
  z-index: 1;
  right: 0;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {background-color: rgb(248, 223, 193);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(248, 214, 172);}

.sortmenu {
  margin-left: auto;
  padding: 50px, 50px, 0, 0;
  
 }

 /*-----------------------*/

 body {
  background: linear-gradient(45deg, rgb(252, 240, 225),bisque, rgb(252, 193, 122));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(PokeballCUR.png), auto;
  margin: 0;
}
  
  h1 {
    text-align: center;
    
  }
/* 
  .loadingcard {
    display: grid;
    grid-template-columns: 204.8px 204.8px 204.8px 204.8px;
    grid-template-rows: 285.8px 285.8px 285.8px;
    grid-gap: 1rem;
    margin-top: 100vh;
  }
  .loadingcard:before {
    display: grid;
    grid-template-columns: 204.8px 204.8px 204.8px 204.8px;
    grid-template-rows: 285.8px 285.8px 285.8px;
    grid-gap: 1rem;
    margin-top: 100px;
  }
  .loadingcard img{
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: rgb(34, 28, 28);
    border-radius: 20px;
    overflow: auto;
    display: inline-block;
    flex-direction: column;
    padding: 0;
}
.pokedex{
  position:relative;
  top: 300px;
  overflow: scroll;
  width: 100%;

}
  #pokedex {
    position: relative;
    display: grid;
    grid-template-rows: 285.8px, auto;
    grid-template-columns: 204.8px 204.8px 204.8px 204.8px;
    grid-gap: 1rem;
    margin-bottom: 0px;
    padding-top: 100px;
    top: 0;
  } */


/* .ol {
  display: grid;
  grid-template-columns: 204.8px 204.8px 204.8px 204.8px;
  grid-template-rows: 285.8px 285.8 285.8, auto;
  grid-gap: 1rem;
  margin-bottom: 0px;
  padding: 0;
  } */
  /* -----pokemon card ----- */


.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: rgb(34, 28, 28);
    border-radius: 20px;
    border: 3px solid #171717;
    overflow: auto;
    display: inline-block;
    flex-direction: column;
    padding: 0;
}


  /* .card {
    list-style: none;
    padding: 0px;
    background-color: #f4f4f4;
    color: #222;
    margin: 0px;
  } */
  /* -----pokemon card contents----- */
  .card-image {
    margin: 0 auto;
    width: 100%;
  }

  /* #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(204.8px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(283.8px, 1fr));
    grid-gap: 1rem;
    margin: 400px;
  } */
  .right {
    text-align: right;
    padding-right: 20px;
  }
  
  .left{
      padding-left: 20px;
      text-transform: capitalize;
      
  }
 /****************************************************/
  /****************************************************/
/* -----pokemon card animation 1----- */

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.pokemon:hover {
animation: bounce .5s;
}

.div .bigcard {
 background-color: #961a45;
 height: 500px;
 width: 500px;
 position: relative;
}

  .poke-container {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin-top: 250px;
    max-width: 1700px;
  }
  
  .pokemon {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #eee;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin-top: 20px;
    height: 120px;
    width: 120px;
  }
  
  .pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
  }
  
  .pokemon .info {
    margin-top: 20px
  }
  
  .pokemon .number {
    float: right;
    background-color: #fff;
    border-radius: 100px;
    font-size: 0.8em;
    padding: 5px 10px;
  }
  
  .pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
  }








 /****************************************************/
  /****************************************************/
    /*-----Meida Query-----*/

/*mobile phone*/
@media screen and (max-width: 825px) {
  div.pokeball {
    display: none !important;
  }


  .img.center {
    text-align: center;
  }

  .center {
    text-align: center;
  }

  .main-header {
    text-align: center;
  }

  .headcontainer {
    display: inline-block;
    text-align:center;
    height: 230px;
  }

  .sortmenu {
    display: inline-block;
    margin: 0, auto;
  }
  .dropbtn{
    display: inline-block;
    margin: 0, auto;
  }
}

  @media (max-width: 829px) and (min-width){


  }

/* tablet */
  @media (max-width: 1700) and (min-width: 829){
      .collapse {
        display: none !important;
  }
  }